*{

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table{
  background-color: #00000099;
//display: block;
margin: 20px auto;
text-align: center;
//border: 2px solid #1c6a9e;
padding: 10px 10px;
//width: 200px;
outline: none;
color: white;
border-radius: 20px;
transition: 0.25s;
}
tr,th,td{
  padding: 10px 10px;
}
.calendar-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	padding-bottom: 80px;
}

.calendar-content{
	display: grid;
	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr;

	border-color: grey;
	border-style: solid;
	border-radius: 10px;

	padding: 5px;
	margin:10px;
	text-align: center;
}

.calendar-content-weekdays{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: 1fr;
	background-image: linear-gradient(to top, white, #e8e7e3);

}

.calendar-content-weekdays > div{
	padding: 10px;
	border-style: solid;
	border-radius: 3px;
	border-color: transparent;
	text-align: center;
	font-weight: bold;
}

.calendar-content-days{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6,1fr);

	border-style: solid;
	border-width: 1px 0px 0px 0px;
	background-image: linear-gradient(to bottom, white, #e8e7e3);

	padding: 2px;
}

.calendar-content-days > div{
	padding: 10px;
	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: transparent;
	text-align: center;
}

.calendar-content-days > div:hover{
	border-color: grey;
	cursor: pointer;
}

.calendar-content-days > .current-day {
	background-image: linear-gradient(to top, white, #e8e7e3);
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

.not-in-current-month{color: #575757;}

.controller{
	width: 50%;
	height: 30px;
	margin: auto;
	padding:10px;

	display: flex;
	flex-flow: row wrap;

	justify-content: space-around;
}

.controller-content{
	display: flex;
	flex-direction: row;
	height: 100%;
	min-width: 100px !important;
	width: auto;
	align-items:center;
	justify-content: space-around;
	font-weight: bold;
}



.controller-display{
	border-color: grey;
	border-style: solid;
	border-width: 1px;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}

.controller-display > select{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-style: none;
}

.controller-left-btn{
	border-color: grey;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-radius: 5px 0px 0px 5px;

	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}

.controller-right-btn{
	border-color: grey;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-radius: 0px 5px 5px 0px;

	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}


.controller-left-btn:hover{
	background-image: linear-gradient(to bottom, white, #e8e7e3);
	text-shadow: 0px 0px 5px black;
	color: white;
	cursor:pointer;
}
.controller-right-btn:hover{
	background-image: linear-gradient(to bottom, white, #e8e7e3);
	text-shadow: 0px 0px 5px black;
	color: white;
	cursor:pointer;
}
.controller-display:hover{
	background-image: linear-gradient(to bottom, white, #e8e7e3);
	text-shadow: 0px 0px 5px black;
	color: white;
	cursor:pointer;
}


header{
	text-align: center;
	top: 0px;
	position: sticky;

	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-radius: 0px 0px 10px 10px;
	border-color: grey;
	background-image: linear-gradient(to bottom, white, #e8e7e3);

	min-height: 50px;
}

nav > ul > a > li{
	list-style: none;
	padding: 10px;
	margin: 0px;

	border-radius: 10px;
	border-color: transparent;
}

nav > ul > a > li:hover{
	background-image: radial-gradient(white, #e8e7e3);
	text-shadow: 0px 0px 5px black;
	color: white;
	cursor:pointer;
}

li > h1{
	margin:0px;
	padding: 0px;
}

nav > ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
}

.register-content{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;

	padding: 20px;
}

.register-text{
	direction:rtl;
	text-align:justify;
	padding: 0px 20px 20px 20px;
	margin-right: 10px;

	border-color: grey;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;

	background-image: linear-gradient(to bottom, white, #e8e7e3);
}

.register-form, .signin-form{
	display: flex;
	flex-flow: column wrap;

	align-items: center;
	justify-content: space-around;
	padding: 20px;

	border-color: grey;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;

	background-image: linear-gradient(to bottom, white, #e8e7e3);
}

hr {
	width: 100%;
}

.alt-reg, .alt-signin{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	vertical-align: middle;
	padding: 10px;
}

footer{
	display: flex;
	flex-flow: column wrap;

	position: absolute;
	align-items: center;
	width: 100%;
	height: 70px;
	bottom: 0px;

	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-radius: 10px 10px 0px 0px;
	border-color: grey;
	background-image: linear-gradient(to top, white, #e8e7e3);


}

.footer-content{
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.alt-reg > a > img, .alt-signin > a > img{
	width: 24px;
	height: 24px;
	margin: 5px;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.about-body{
	padding: 10px;
}

.about-content{
	padding: 10px;
	border-style: solid;
	border-color: grey;
	border-width: 1px 1px 1px 1px;
	border-radius: 10px 10px 10px 10px;
	background-image: linear-gradient(to bottom, white, #e8e7e3);
	text-align: justify;
}

input[type=submit]{
	background-color: transparent;
	border-style: dotted;
	border-color: grey;
	border-radius: 5px;
	float:right;
}


body {
  position: relative;
  margin: auto;
  min-height: 100%;
  width: 800px;
  background-color: #e8e7e3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}
